[build]
target = "targets/x86_64-nexaos.json"

[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target."targets/x86_64-nexaos.json"]
linker = "scripts/linker.sh"
rustflags = [
    "-Clinker-flavor=ld",
    "-Clink-arg=--nmagic",
    "-Clink-arg=--nostdlib",
    "-Crelocation-model=static"
]
