[build]
target = "targets/x86_64-nexaos.json"

[target."targets/x86_64-nexaos.json"]
linker = "scripts/linker.sh"
rustflags = [
    "-Clinker-flavor=ld",
    "-Clink-arg=--nmagic",
    "-Clink-arg=--nostdlib",
    "-Crelocation-model=static"
]

# build-std 只对内核 target 生效，使用 ndk 构建时通过命令行传入
# cargo +nightly build -Zbuild-std=core,compiler_builtins,alloc -Zbuild-std-features=compiler-builtins-mem
