[package]
name = "nurl"
version.workspace = true
edition.workspace = true

[[bin]]
name = "nurl"
path = "src/main.rs"

[dependencies]
nrlib = { workspace = true, optional = true, features = ["panic-handler"] }
nexa_boot_info.workspace = true
nssl = { path = "../../nssl", optional = true }
nzip = { path = "../../nzip", optional = true }
nh2 = { path = "../../nh2", optional = true, default-features = false }

[features]
default = ["use-nrlib", "https", "compression", "http2"]
use-nrlib = ["nrlib"]
use-nrlib-std = ["nrlib", "nrlib/std"]
https = ["nssl"]
compression = ["nzip"]
# HTTP/2 support via nh2 (nghttp2 ABI compatible)
http2 = ["nh2"]
http3 = []
