[workspace]
resolver = "2"

members = [
    "nrlib",
    "ld-nrlib",
    "ncryptolib",
    "nssl",
    "programs/init",
    "programs/shell",
    "programs/getty",
    "programs/login",
    "programs/nslookup",
    "programs/dhcp",
    "programs/ip",
    "programs/nurl",
    "programs/dmesg",
    "programs/crashtest",
    "programs/thread_test",
    "programs/pthread_test",
    "programs/uefi_compatd",
    "programs/hello_dynamic",
]

[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
nrlib = { path = "nrlib", default-features = false }
nexa_boot_info = { path = "../boot/boot-info" }

[profile.release]
panic = "abort"
opt-level = 2
lto = false
